{
    "presets": ["next/babel", "@zeit/next-typescript/babel"]
    // "jest": {
    //     "transform": {}
    // }
    // "env": {
    //     "test": {
    //         "presets": [["env"], "react"]
    //     }
    // }
}
